<!DOCTYPE html>
<html>
  <body>
    <p>{{ _('親愛的 %(username)s，', username=user.username) }}</p>
    <p>
      {{ _('要重設您的密碼，') }}
      <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        {{ _('點擊這裡') }} </a
      >{{ _('。') }}
    </p>
    <p>{{ _('或者，您可以將以下連結貼到您瀏覽器的地址欄：') }}</p>
    <p>{{ url_for('reset_password', token=token, _external=True) }}</p>
    <p>{{ _('如果您沒有要求重設密碼，請忽略此訊息。') }}</p>
    <p>{{ _('誠摯地，') }}</p>
    <p>{{ _('Microblog 團隊') }}</p>
  </body>
</html>
